@import url("http://fonts.googleapis.com/css?family=Raleway:200");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");


@import "../../bower_components/html5-boilerplate/css/normalize.css";
@import "../../bower_components/html5-boilerplate/css/main.css";
@import "../../bower_components/fontawesome/css/font-awesome.min.css";
@import "../../bower_components/sidr/stylesheets/jquery.sidr.dark.css";
@import "../../bower_components/OwlCarousel/owl-carousel/owl.carousel.css";
@import "../../bower_components/OwlCarousel/owl-carousel/owl.theme.css";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$grey-color: #333;
$main-color: orange;


body{
    font-family: 'Open Sans', "Helvetica Neue" , Helvetica , Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $grey-color;
    font-size: 15px;
    line-height: 26px;
    border-top: 3px solid $main-color;

  h1, h2, h3{
    font-family: 'Raleway', 'Open Sans', "Helvetica Neue" , Helvetica , Arial, sans-serif;
    font-weight: 200;
    color: $main-color;
  } 
  p{
    font-family: 'Open Sans', "Helvetica Neue" , Helvetica , Arial, sans-serif;
  }
  a{
    color: #666;

  }
    a.active{
      color: red;
    }
    a.sidr-class-active{
      color:blue;
    }
  .nav>li>a:focus, .nav>li>a:hover {
   text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: #FF28B4;
  }

  /*SIDER*/
  #sidr, .sidr{
    ul{
      li{
        &.active>a, &.active>span, &.sidr-class-active>a, &.sidr-class-active>span, &:hover>a, &:hover>span {
          color: orange; // #FF28B4;
        }

        a{
            text-align: center;
        }
      }
    }
  }

  /*HEADER*/
  .header {
    margin: 30px 0 0 0;

    .thelogo {
      float: left;
      width: 150px;
      margin: 0;
      .logo {
        background-color: #FFF;
        width: 109px;
        color: $main-color;
        text-align: center;
        padding: 3px 4px;
        border: 1px solid $main-color;
      }
    }
    .opensider {
      float: left;
      width: 20px;
      margin: 2px 0 0;
    }
    nav#sidr {
      margin: 30px 0 0 0;
    }
    .navbar-toggle {
      margin: 0; 
      border: 1px solid $grey-color;
    }  
  }

  /*FOOTER*/
  .footer {
    background-color: #000;
    color: #FFF;
    margin: 20px 0 0 0;
  }

}



/*MENU*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; 
}

.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.angular-google-map-container { height: 400px; }

