@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");


@import "../../bower_components/html5-boilerplate/css/normalize.css";
/*@import '../../bower_components/html5-boilerplate/css/main.css';*/
@import "../../bower_components/bootstrap-sass-only/scss/bootstrap.scss";
@import "../../bower_components/fontawesome/css/font-awesome.min.css";
@import "../../bower_components/sidr/stylesheets/jquery.sidr.light.css";
@import "../../bower_components/OwlCarousel/owl-carousel/owl.carousel.css";
@import "../../bower_components/OwlCarousel/owl-carousel/owl.theme.css";



body{
  font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #666;
  h1{
    font-family: 'Open Sans', Arial;
    font-weight: 300;
  } 
  a{
    color: #666;

  }
    a.active{
      color: red;
    }
    a.sidr-class-active{
      color:blue;
    }
  .nav>li>a:focus, .nav>li>a:hover {
   text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: #FF28B4;
  }
  .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span, .sidr ul li:hover>a, .sidr ul li:hover>span {
    color: #FF28B4;
  }

}
/*MENU*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; 
}

.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


