@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");


@import "../../bower_components/html5-boilerplate/css/normalize.css";
/*@import '../../bower_components/html5-boilerplate/css/main.css';*/
@import "../../bower_components/fontawesome/css/font-awesome.min.css";
@import "../../bower_components/sidr/stylesheets/jquery.sidr.dark.css";
@import "../../bower_components/OwlCarousel/owl-carousel/owl.carousel.css";
@import "../../bower_components/OwlCarousel/owl-carousel/owl.theme.css";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$grey-color: #333;


body{
    font-family:'Raleway', 'Open Sans', "Helvetica Neue" , Helvetica , Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $grey-color;
    font-size: 15px;
    line-height: 26px;

  h1{
    font-weight: 300;
  } 
  a{
    color: #666;

  }
    a.active{
      color: red;
    }
    a.sidr-class-active{
      color:blue;
    }
  .nav>li>a:focus, .nav>li>a:hover {
   text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: #FF28B4;
  }
  .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span, .sidr ul li:hover>a, .sidr ul li:hover>span {
    color: #FF28B4;
  }

  /*HEADER*/
  .header {
    margin: 30px 0 0 0;

    .thelogo {
      float: left;
      width: 150px;
      margin: 0;
      .logo {
        background-color: #000;
        width: 109px;
        color: #FFF;
        text-align: center;
        padding: 3px 4px;
      }
    }
    .opensider {
      float: left;
      width: 20px;
      margin: 2px 0 0;
    }
    nav#sidr {
      margin: 30px 0 0 0;
    }
    .navbar-toggle {
      margin: 0; 
      border: 1px solid $grey-color;
    }  
  }

  /*FOOTER*/
  .footer {
    background-color: #000;
    color: #FFF;
  }

}



/*MENU*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; 
}

.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.angular-google-map-container { height: 400px; }

