<h1>GALLERY</h1>
<wrap-owlcarousel class="owl-carousel" data-options="{
					autoPlay: 5000, 
    				stopOnHover: true,  
        			slideSpeed : 300, 
        			paginationSpeed : 400, 
        			singleItem : true}">  
  		<div><img ng-src="http://lorempixel.com/400/200/sports/1"></div>
  		<div><img ng-src="http://lorempixel.com/400/200/sports/2"></div>
  		<div><img ng-src="http://lorempixel.com/400/200/sports/3"></div>
  		<div><img ng-src="http://lorempixel.com/400/200/sports/4"></div>
 		<div><img ng-src="http://lorempixel.com/400/200/sports/5"></div>
  		<div><img ng-src="http://lorempixel.com/400/200/sports/6"></div>
  		<div><img ng-src="http://lorempixel.com/400/200/sports/7"></div>
  		<div><img ng-src="http://lorempixel.com/400/200/sports/8"></div> 
</wrap-owlcarousel> 
---